@import "tailwindcss";
/* Global layout + dark background */
html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
}

@font-face {
  font-family: "PokemonClassic";
  src: url("/fonts/pokemon-classic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "PokemonClassic", monospace;
}
